
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero{
    background-color: #1F2937;
    color: #F9FAF8;
}

h1.hero{
    font-size: 48px;
    font-weight: extra-bold;
}

p.hero{
    font-size: 18px;
}

h1.infoDiv{
font-size: 36px;
font-weight: extra-bold;
}

.quoteDiv{
    background-color: #E5E7EB;
}

p.quoteDiv{
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}