
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hero{
    background-color: #1F2937;
    color: #F9FAF8;
}

h1.hero{
    font-size: 48px;
    font-weight: extra-bold;
}

p.hero{
    font-size: 18px;
}

.header{
    display: flex;
}

.header div{
    flex: 1;
    padding: 20px;
}

.header a{
    text-decoration: none;
    color:#F9FAF8; 
    padding: 5px;
}

.infoDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
    text-align: center;    
}
h1.infoDiv{
    font-size: 36px;
    font-weight: extra-bold;   
}

.infoImg {
    border: 2px solid blue;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.infoWrapper {
    width: 150px;
    display: flex;
    flex-direction: row;
    text-align: center;    
    padding: 20px;
}

.quoteDiv{
    background-color: #E5E7EB;
}

p.quoteDiv{
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
}

.imageWrapper{
    display: flex;
    padding: 60px;
}

.imageWrapper div{
    flex: 1
}

.imageDiv{
    background-color: grey;
    text-align: center;
}

.quoteDiv {
    text-align: center;
    padding: 30px;
    display: flex;
}

.quoteDiv div {
    width: 300px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: large;
}

.signUp2{
    border: 2px solid ;
}

.signUpWrapper{
    display: flex;
    background-color: #3882F6;
    color: #E5E7EB;
}

.buttonWrapper{
    display: flex;
    padding: 50px;
    margin-left: 150px;
}

.signUptext{
    margin-left: 20px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    height: 150px;
    text-align: center;
}

.footerText{
    padding: 50px;
}